@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loader {
    border-top-color: #3498db;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
    --radius: 0.5rem;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
    font-family: var(--font-comfortaa), serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-comfortaa), sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}